@import url(https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&family=Happy+Monkey&family=Lora:wght@400;500;600;700&family=Noto+Sans+Chakma&family=Poiret+One&family=Ysabeau:wght@1;100;200;300;400;500;600;700;800;900&display=swap);

h1 {
  font-family: "Lora", serif;
  text-align: center;
  color: #474747;
  padding: 20px;
  font-weight: 700;
  font-size: 40px;
}

footer {
  color: #3d3d3d;
  font-family: "Lora", serif;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  padding: 20px;
}

.footer-link {
  text-decoration: none;
  color: #e36576;
}
.footer-link:hover {
  font-weight: 600;
  color: #dd3f54;
}
