.WeatherForecast {
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
}
.forecastTempMax {
  color: #0c2548;
}
.forecastTempMin {
  color: #cea5d4;
  opacity: 0.7;
}
#forecastIcon {
  vertical-align: -30%;
}
.dailyForecast {
  padding: 15px;
}
@media (max-width: 576px) {
  .WeatherForecast {
    font-size: 14px;
  }
}
